APP_NAME=Enterprise Order Service
APP_ENV=local
DATABASE_URL=sqlite:///./orders.db
LOG_LEVEL=INFO

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=python_demo

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=python_demo
